body {
	width:100%;
    background-color: #000;
    background-image: url(../images/motorcycle.jpg);
    background-size: 78.875%;  /*1150px;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

p,h1,h2,h3,h4,tr,td,caption {
    color: #fff;
}

p {
    margin-top: 1.25%;  /*20px;*/
}

h2:nth-of-type(1n + 2){
	text-align:center;
}

.center-block(max-width:1208px;) {display: block; margin-left: auto; margin-right: auto;}



/********* header styling *********/
header .container {
    background-color: rgba(0,0,0,.0);
}

.container {
    background-color: rgba(0,0,0,.60);
}

li a {
    color: #fff;
    margin-top: 20px;
}

/********* main image styling *********/
.mainimg {
    background-image: url(../images/bike2.jpg);
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    border-bottom: 20px solid #000;
}

/********* Table styling *********/
caption {
    text-align: center;
    font-weight: bold;
}

td {
    width: 16.666667%;
    height: 30px;
}

table,td,th {
    border: 3px solid #fff;
    margin-right: 0;
}

th {
    background-color: #fff;
    color: #000;
}

#imap {
	margin-top:35px;
}

#gearlist li {
	color: #fff;
}


/********** store section styling *********/

#store img{
	width: 150px; 
	
}

#store li{
	display:block;
	float:left;
	margin-left: 9.375%; /*90px;*/
	margin-bottom:40px;
}

#store li a img{
	box-shadow: 0px 0px 95px rgba(240,235,250,.80);
}

#store li a img:hover{
	box-shadow: 0px 0px 50px rgba(240,235,250,.30);
}

/********* footer styling *********/

#footer li {
	color:#fff;
	width: 9.375%; /*150px;*/
	display:inline;	
	margin-left:60px;
}

#footer ul {
	text-align:center;
}

#footer li:nth-of-type(1) {
	margin-left:0px;	
}

/********* media queries *********/

/********* media query for large devices *********/
@media screen and (min-width:992px){
		
		body {
	
    background-color: #000;
    background-image: url(../images/motorcycle.jpg);
    background-size: max-width;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    p{color:blue;}
	}

		.center-block(max-width:768px;) {display: block; margin-left: auto; margin-right: auto;}
}


/********* media query for small devices *********/
@media screen and (max-width:992px) {
		
		body {
	width:100%;
    background-color: #000;
    background-image: url(../images/motorcycle.jpg);
    background-size: max-width;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

		body {background-color: #000; background-image:none;}
		#store img {width:75px;}	
		imap {margin-bottom:60px; width:max-width}
		iframe + p {clear:both;}
		.center-block(max-width:768px;) {display: block; margin-left: auto; margin-right: auto;}
		h1, h2, h3{color:blue;}

}

/********* media query for extra small devices *********/
@media screen and (max-width:767px) {

		.container{width:100%;}
		#store img {width:75px;}	
		imap {margin-bottom:60px; width:max-width}
		iframe + p {clear:both;}
		.center-block(max-width:768px;) {display: block; margin-left: auto; margin-right: auto;}
		h1, h2, h3{color:red;}
}

/********* media query for below 414px devices *********/

@media screen and (max-width:414px) {

		body{width:100%}
		#store img {width:55px;}	
		imap {margin-bottom:60px; width:max-width}
		iframe + p {clear:both;}
		.center-block(max-width:768px;) {display: block; margin-left: auto; margin-right: auto;}
		h1, h2, h3{color:#ff0;}
		
		
}